html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#loader {
    display: none; /* change to block when loading */
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.9' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23dcebff'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23dcebff'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(26.7) translate(-962.55 -721.91)'%3E%3Cg fill='%23dcebff'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-size: cover;
    /* background by SVGBackgrounds.com */
    z-index: 100;
}

#top-curve {
    position: absolute;
    z-index: -100;
    top: 0;
    height: 600px;
    width: 100%;
} #top-curve svg{
    height: 100%;
    width: 100%;
    display: block;
} #top-curve svg path {
    fill: #2C2F33;
}

#bottom-curve {
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 300px;
    width: 100%;
} #bottom-curve svg {
    height: 100%;
    width: 100%;
    display: block;
} #bottom-curve svg path {
    fill: #2C2F33;
}

#options-menu {
    position: fixed;
    height: 100vh;
    width: 400px;
    top: 0;
    right: -400px;
    background: #fff;
    transition: transform 0.15s ease;
    overflow-y: scroll;
    scrollbar-width: none;
} #options-menu::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
} #options-menu.open {
    transform: translateX(-100%);
    box-shadow: -5px 0px black;
}
#overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    transition: opacity 0.15s, visibility 0.15s ease;
} #overlay.open{
    opacity: 1;
    visibility: visible;
}

.content-grid {
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 150px;
    grid-template-areas:
      'header'
      'menu'
      'main'
      'footer';
    grid-gap: 10px;
} .content-grid > div {
    padding: 20px 0;
} @media (min-width: 1000px) {
    .content-grid {
        grid-template-columns: 300px auto;
        grid-template-rows: auto auto 150px;
        grid-template-areas:
          'header header'
          'menu main'
          'menu footer';
    }
}

/*********** HEADER **********/
.header-grid { 
    grid-area: header;
    display: grid;
    grid-template-areas: 
      'home options'
}
.home { 
    grid-area: home; 
    margin: 0px auto auto 20px;

} #nav-icon-home { 
    height: 60px;
    cursor: pointer;
}
.options { 
    grid-area: options; 
    margin: 0px 20px auto auto;
} #nav-icon-options { 
    height: 40px; 
    cursor: pointer;
    fill: #ffffff;
} #nav-icon-options:hover {
    fill: #D6B12D;
}
/*****************************/


/************ MENU ***********/
.menu { grid-area: menu; }
/*****************************/


/************ MAIN ***********/
.main { 
    grid-area: main;
    height: 1000px;
}
/*****************************/


/*********** FOOTER **********/
.footer { grid-area: footer; }
/*****************************/